{% extends 'main_user.html' %}
{% load static %}

{% block content %}

	
<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
	<div class="container">
		<div class="p-b-10">
			<h3 class="ltext-103 cl5">
				รายการสินค้า
			</h3>
		</div>

		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" href="{% url 'Shop' %}">
					สินค้าทั้งหมด
				</a>

				<a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" href="{% url 'ShopCate' id=10 %}">
					เครื่องสำอางค์
				</a>

				<a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" href="{% url 'ShopCate' id=9 %}">
					สกินแคร์
				</a>

				<a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" href="{% url 'ShopCate' id=7 %}">
					น้ำหอม
				</a>

				<a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" href="{% url 'ShopCate' id=11 %}">
					ผิวกาย
				</a>

			</div>

			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
					<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
					<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					ตัวกรอง
				</div>

				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					ค้นหา
				</div>
			</div>

			<!-- <!-- Search product -->
			<!-- <div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
					</div>	
				</div> -->

			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10">
				<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							เรียงตาม
						</div>

						<ul>
							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									ค่าเริ่มต้น
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									ความนิยม
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									การให้คะแนน
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
									สินค้าใหม่
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									ราคา: ต่ำ ไป สูง
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									ราคา: สูง ไป ต่ำ
								</a>
							</li>
						</ul>
					</div>

					<div class="filter-col2 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							ราคา
						</div>

						<ul>
							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
									ทั้งหมด
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									฿0.00 - ฿50.00
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									฿50.00 - ฿100.00
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									฿100.00 - ฿150.00
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									฿150.00 - ฿200.00
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									฿200.00+
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row isotope-grid">

			{% for products in product %}
			{% with images=products.pro_id|getimagesone %}
				
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
				<!-- Block2 -->
				<div class="block2">
					<div class="block2-pic hov-img0">
						{% for img in images %}
						{% if forloop.counter == 1 %}
						<img src="{{ img.image_file.url }}" alt="IMG-PRODUCT">
						{% endif %}
						{% endfor %}
					
					</div>

					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
							<a href="{% url 'pro_detaill' id=products.pro_id %}"
								class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								{{products.pro_name}}
							</a>

							<span class="stext-105 cl3">
								฿{{products.price}}
							</span>
						</div>
								{% if m in products.favourite.all %}
							<div class="block2-txt-child2 flex-r p-t-3">
								<a href="{% url 'remove_product' products.pro_id %}" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
								<i class="fa fa-heart"></i>
							</a>
							</div>
							
							{% else %}
							<div class="block2-txt-child2 flex-r p-t-3">
								<a href="{% url 'add_product' products.pro_id %}" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
								<i class="fa fa-heart-o"></i>
							</a>
							</div>
							{% endif %}
					</div>
				</div>
			</div>
			
			{% endwith %}
			{% endfor %}
		</div>

	</div>
</section>

{% endblock content %}

